*.o
*.a
*.exe
*.obj
*.i
/server-examples/example-server
/server-examples/microscope-server
/.sconsign.dblite
/doc/manual.html
/doc/tutorial.html
/src/gem-button-box-button-bless-editor.cc
/src/gem-button-box-button-bless-editor.h
/src/gem-button-box-editor.cc
/src/gem-button-box-editor.h
/src/gem-button-box.cc
/src/gem-button-box.h
/src/gemtcl
/src/gemtcl-remote
/src/xnm/xnm-parser.c
*.old